<div class="modal-header border-0">
  <h5 class="modal-title">{{ product.productName }}</h5>
  <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body row">
  <div class="col-md-6">
    <img [src]="product.image" class="img-fluid rounded" alt="product" />
  </div>

  <div class="col-md-6">
    <h4 class="fw-bold">${{ product.price }}</h4>
    <p class="text-muted">This is a short description of the product.</p>
    <div class="mb-3">
      <label class="form-label fw-semibold">Size</label>
      <select class="form-select" [(ngModel)]="selectedSize" name="size" #sizeRef="ngModel" required>
        <option value="">Choose an option</option>
        <option *ngFor="let size of ['S','M','L','XL']" [value]="size">{{ size }}</option>
      </select>

      <div *ngIf="sizeRef.invalid && sizeRef.touched" class="text-danger mt-1">
        Please select a size.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label fw-semibold">Color</label>
      <select class="form-select" [(ngModel)]="selectedColor" name="color" #colorRef="ngModel" required>
        <option value="">Choose an option</option>
        <option *ngFor="let color of ['Red','Blue','Black']" [value]="color">{{ color }}</option>
      </select>
      <div *ngIf="colorRef.invalid && colorRef.touched" class="text-danger mt-1">
        Please select a color.
      </div>
    </div>

    <div class="d-flex flex-column align-items-center gap-3">
      <div class="d-flex align-items-center mb-2">
        <button class="btn btn-outline-secondary" (click)="decrement()">-</button>
        <span class="px-3">{{ quantity }}</span>
        <button class="btn btn-outline-secondary" (click)="increment()">+</button>
      </div>

      <button class="btn text-white rounded-pill px-4 py-2 text-uppercase w-100"
        style="max-width: 200px; background-color: #717fe0;" (click)="addToCart(sizeRef, colorRef)">
        Add to cart
      </button>
    </div>
  </div>
</div>
