.nav-links span {
  text-decoration: none;
  color: #333;
  padding-bottom: 4px;
  cursor: pointer;      
  transition: 0.2s;
}

.nav-links span:hover {
  color: #474444;
}

.nav-links span.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(132, 129, 129);
}
