<div class = "footer-main-container">
    <div class = "footer-content">
        <h2>Categories</h2>
        <div *ngFor = "let category of categoriesList" class = "list-content">
            <h4 (click)="onCategoriesClick(category)">{{ category }}</h4>
        </div>
    </div>
    <div class = "footer-content">
        <h2>Help</h2>
        <div *ngFor = "let help of helpList" class = "list-content">
            <h4 (click)="onHelpClick(help)" >{{ help }}</h4>
        </div>
    </div>
    <div class = "footer-content">
        <h2>GET IN TOUCH</h2>
        <h4>{{ address }}</h4>
        <div class = "imageClass">
            
        </div>
    </div>
    <div class = "footer-content">
        <h2>NEWSLETTER</h2>
        <input type = "text" placeholder="email@emample.com" >
        <button>SUBSCRIBE</button>
    </div>
</div>