.d-flex a i {
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.d-flex a i:hover {
  transform: scale(1.2); 
  color: rgb(132, 130, 238) !important;
}

.list-unstyled li a {
  transition: padding-left 0.3s ease;
  display: inline-block;
}

.list-unstyled li a:hover {      
  padding-left: 5px;    
  text-decoration: underline;
  color: rgb(132, 130, 238) !important;
}

.newsletter-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #444;
  padding: 10px 5px;
  color: #ccc;
  margin-bottom: 20px;
  outline: none;
}

.newsletter-input::placeholder {
  color: #aaa;
}

.newsletter-btn {
  width: 100%;
  background-color: rgb(132, 130, 238);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 30px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.newsletter-btn:hover {
  background-color: #ffffff;
  color: rgb(132, 130, 238);
}

